@use "./colors.scss" as *;
@use "./typography.scss" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(Hero, cr);
// @include grid(2, 2, fr, 1rem)

:root {
    --border-radius: #{toRem(10px)};
}

*,
*::before,
*::after {
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
}
html,
html:focus-within {
    scroll-behavior: smooth;
    text-size-adjust: none;
    // scroll-snap-type: mandatory;
    // scroll-snap-type: y mandatory;
    // scroll-snap-stop: always;
    // scroll-padding: 10vh;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,
body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--bg-clr);
}
main {
    min-height: 100vh;
    width: 100vw;
}
.Container {
    --container-width: 90%;
    height: 100%;
    width: var(--container-width, 90%);
    margin-inline: auto;
}

// section,
// footer,
// article:not([class]) {
// 	scroll-snap-align: start;
// 	// scroll-margin: 10vh;
// }
li,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
    }
}
::-moz-focus-inner {
    border: none;
}

// ::-webkit-scrollbar {

// }

:focus {
    outline: 2px solid transparent;
}
.focus {
    --focus-shadow: 0 0 0 transparent;
    --accent-clr: var(--txt-clr);
    box-shadow: var(--focus-shadow), 0 0 0 -0.4em var(--bg-clr),
        0 0 0 -0.6em var(--accent-clr);
    transition: box-shadow 400ms cubic-bezier(0.66, -0.2, 0.27, 1.15);
}
.focus:focus-visible {
    // outline-color: var(--clr-blue-500);
    // outline-style: solid;
    // outline-width: 3px;
    // outline-offset: 5px;
    outline: 2px solid transparent;
    box-shadow: var(--focus-shadow), 0 0 0 0.25em var(--bg-clr),
        0 0 0 0.45em var(--accent-clr);
}
input,
button,
textarea,
a,
select {
    font: inherit;
}
.image {
    .blur > div {
        width: 100% !important;
        height: 100% !important;
        canvas {
        }
    }
    picture {
        img {
            width: 100%;
            height: 100%;
        }
    }
}
img,
svg {
    max-width: 100%;
    display: block;
    user-select: none;
    object-fit: cover;
    object-position: center;
    box-shadow: none;
    pointer-events: none;
    isolation: isolate;
}
[type="button"] {
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    appearance: button;
    font: inherit;
}
:where(.Button, .inputFiled) {
    min-height: 3.25rem;
    max-height: 3em;
    width: min-content;
    max-width: min(100%, 90vw);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    padding: max(0.4em, 0.4rem) max(2.2em, 2.2rem);
    font-size: var(--fs-s);
    font-weight: var(--fw-b);
    background-color: transparent;
    color: var(--txt-clr);
    border: 2px solid var(--secondary-clr);
    border-radius: var(--border-radius);
    --focus-shadow: inset 0px -0.4rem 0 var(--accent-shadow-clr);
}
.inputFiled {
    outline: 2px solid transparent;
}
.Button:has(img, svg) {
}
.Button:where(:hover, :active):not(:has(img, svg)) {
}
.Button:has(img, svg):where(:hover, :active) {
}
.Button:not(:last-child) {
    margin: 0 0 1rem 0;
}
.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
.old-script,
.no-script {
    width: 100vw;
    height: 100vh;
    @include flex(r, c, c);
    z-index: 9999;
    position: fixed;
    padding: 0 1rem;
    text-align: center;
    background-color: #1c1e21;
    color: #d9d4ce;
    & > p {
        font-size: 18px;
        color: #d9d4ce;
    }
}
// .no-scroll {
//     height: 100vh !important;
//     overflow: hidden !important;
// }
.accent-X-clr {
    --accent-clr: var(--accent-X-clr);
    --accent-shadow-clr: var(--clr-teal-blue-500);
}
