:where(button.Moon-Rock_Button) {
	width: fit-content;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-size: var(--Moon-Rock_button-font-size, 1rem);
	overflow: hidden;
	appearance: button;
}
:where(button.Moon-Rock_Button--BiasStyles) {
	max-width: min(100%, 100vw);
	padding: 0.4em;
	user-select: none;
	text-decoration: none;
	text-transform: none;
	cursor: pointer;
}
:where(button.Moon-Rock_Button--multiline) {
	text-wrap: balance;
}
:where(button.Moon-Rock_Button:disabled, button.Moon-Rock_Button--disabled) {
	pointer-events: none;
	cursor: not-allowed;
}
:where(
		button.Moon-Rock_Button--BiasStyles:focus,
		button.Moon-Rock_Button--BiasStyles:focus-visible
	) {
	outline-color: var(--Moon-Rock_button-background-color, #007bff);
	outline-style: solid;
	outline-width: 0.2em;
	outline-offset: 0.2em;
}

:where(button.Moon-Rock_Button--BiasStyles *) {
	max-width: 100%;
	max-height: 100%;
}

// .Button:has(img, svg) {
// }
// .Button:where(:hover, :active):not(:has(img, svg)) {
// }
// .Button:has(img, svg):where(:hover, :active) {
// }
// .Button:not(:last-child) {
// 	margin: 0 0 1rem 0;
// }

@supports not (width: fit-content) {
	:where(button.Moon-Rock_Button) {
		width: auto;
	}
}
@supports not (text-wrap: balance) {
	:where(button.Moon-Rock_Button--multiline) {
		white-space: normal;
	}
}

// // TODO: make the multiline support
// TODO: disable Animation
// TODO: isIconOnly
// TODO: link the main context with the button and make it take a style
// // TODO: padding
