:where(button.Moon-Rock_Button) {
	width: fit-content;
	max-width: min(100%, 100vw);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-size: var(--Moon-Rock_button-size, 1rem);
	padding: 0.4em;
	user-select: none;
	overflow: hidden;
	text-decoration: none;
	text-transform: none;
	appearance: button;
	cursor: pointer;
}
:where(button.Moon-Rock_Button--multiline) {
	white-space: normal;
}
:where(button.Moon-Rock_Button:disabled, button.Moon-Rock_Button--disabled) {
	pointer-events: none;
	cursor: not-allowed;
}

.Button {
	color: #fff; // change the text color
	background-color: #108a00; // change the button background color
	border-color: #108a00; // chang the button border color
	max-height: 3em;
	padding: max(0.4em, 0.4rem) max(2.2em, 2.2rem);
}

:where(.Button, .inputFiled) {
	padding: max(0.4em, 0.4rem) max(2.2em, 2.2rem);
	background-color: transparent;
	color: var(--txt-clr);
	--focus-shadow: inset 0px -0.4rem 0 var(--accent-shadow-clr);
}

// .Button:has(img, svg) {
// }
// .Button:where(:hover, :active):not(:has(img, svg)) {
// }
// .Button:has(img, svg):where(:hover, :active) {
// }
// .Button:not(:last-child) {
// 	margin: 0 0 1rem 0;
// }
@supports not (width: fit-content) {
	:where(button.Moon-Rock_Button) {
		width: auto;
	}
}

// // TODO: make the multiline support
// TODO: disable Animation
// TODO: isIconOnly
// TODO: link the main context with the button and make it take a style
// // TODO: padding
